<div class="text-center">
  <h1>Acerca del desarrollador</h1>
</div>

<div class="row">
  <div class="text-start text-nowrap col-md-6 float-md-end mb-3">
    <div class="fs-4 fst-italic">
      <p> Nombre del desarrollador: Silvia Henández Márquez </p>
    </div>
    <div class="card-body">
      <div class="lh-1 card-title">
        <p>Número de celular: 2261092131</p>
      </div>
      <div class="lh-1 card-title">
        <p>Ocupación: Estudiante</p>
      </div>
    </div>
  </div>
</div>

