<div class="text-center">
  <h1>Clientes Familia</h1>
</div>

<div class="row">
  <div class=" text-truncate text-start text-nowrap col-md-6 float-md-end mb-3 " *ngFor="let RelacionPersonasClientes of RelacionPersonasClientes | async">
    <div class="card text-bg-info">
      <div class="card-body">
        <div class="card-title">
          {{ RelacionPersonasClientes.IDClientesFamilia }}
        </div>
        <div class="card-title">
          {{ RelacionPersonasClientes.IDPersona }}
        </div>
        </div>
      </div>
    </div>
  </div>
