<div class="text-center">
  <h1>Acerca de mi api</h1>
</div>

<div class="row">
  <div class="text-start text-nowrap col-md-6 float-md-end mb-3">
    <div class="fw-bold fs-4 fst-italic">
      <p> Esta es una prueba de una api  </p>
    </div>
    <div class="card-body">
      <div class="lh-1 fs-5 card-title">
        <p> Esta api es una prueba para saber como crear una desde cero.</p>
      </div>
      <div class="fw-semibold  lh-1 card-title">
        <p> Desarrollado por Silvia Hernández Márquez</p>
      </div>
    </div>
  </div>
</div>







