<div class="text-center">
<h1>Fotos</h1>
</div>

<div class="row">
<div class=" text-truncate text-start text-nowrap col-md-6 float-md-end mb-3 " *ngFor="let foto of fotos | async">
  <div class="card text-bg-success">
    <div class="card-body">
      <div class="card-title">
    {{ foto.albumId }}
      </div>
      <div class="card-title">
        {{ foto.id }}
      </div>
      <div class="card-title">
        {{ foto.title }}
      </div>
      <div class="card-text">
        {{ foto.url }}
      </div>
      <div class="card-text">
        {{ foto.thumbnailUrl }}
      </div>
    </div>
  </div>
</div>

</div>
